.color-selection{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}

label{
    display: block;
    text-align: center;
    margin-top:10px;
    font-weight: bold;
    font-size:18px;
}