@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    background-image: url(/images/Background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #eaeaea;
}

*.hide {
    display: none !important;
}

.container {
    position: relative;
    display: inline-block;
    padding: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, transparent 50%, rgba(255, 255, 0, 0.08));
    background-color: #223140;
    border-radius: 24px;
    text-align: center;
    box-shadow: -16px 16px 16px 8px rgba(0, 0, 0, 0.2);

}

.load-widget {
    width: 360px;
    height: 420px;

}

.loader {
    position: relative;
    display: inline-block;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: conic-gradient(rgba(1, 182, 190, 0.3)0%, transparent 65%);
    animation: radarRotate 2s linear infinite;
}

@keyframes radarRotate {
    100% {
        transform: rotate(-360deg);
    }
}

.loader:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: calc(50% - 8px);
    border-top: 120px solid #81ecec;
    filter: drop-shadow(0 0 12px #01b6be);

}

.loader h1 {
    line-height: 1.3;
    margin-bottom: 32px;
    color: #aaffff;
    text-shadow: 0 0 8px #81ecec;
}

.loader-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.loader-content button {
    position: relative;
    cursor: pointer;
    width: 240px;
    height: 240px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 50%;
    background-color: #223140;
    color: #eaeaea;
    border: 0;
    box-shadow: 0 0 12px #81ecec;

}

.loader-content .result button {
    height: 120px;
    width: 120px;
    margin-top: 16px;
}

.loader-content button:hover {
    background-color: #1f3c4e;

}

.loader-content button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid #7ed6d4;
    border-radius: 50%;
    animation: btnRing 2s linear infinite;
}

@keyframes btnRing {

    60%,
    100% {
        height: calc(100% + 60px);
        width: calc(100% + 60px);
        top: -32px;
        left: -32px;
        opacity: 0;
    }
}

.loader-content button:after {
    content: '';
    position: absolute;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #25476e, #c7ecee);
    z-index: -1;
    border-radius: 50%;
}

.content {
    display: flex;
    width: 100%;
    font-size: 64px;
    margin: 12px 0 32px 0;
    flex-direction: column;
}

.content small {
    font-size: 40%;
}