.form-group{
    width: 500px;
    height: 100px;
    margin:auto;
}
label{
    display: block;
    margin-top:20px;
    font-size:20px;
    font-weight: 600;
    margin-bottom:10px;
}
input{
    display: block;
    width: 100%;
    height: 40px;
}
button{
    display: block;
    margin-top:25px;
    width: 50%;
    height: 40px;
    background-color: slategray;
    color:white;
    border:0px;
    font-size:20px;
    font-weight: bold;
}

.danger{
    margin-top:5px;
    text-align: center;
    color:red;
}