 @keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
 }

.spinner-container{
    width: 200px;
    height: 200px;
    margin: 1% 31%;
    border: 10px solid red;
    border-top: 10px solid green;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    animation:spinner 1.5s infinite linear
}