.image-box{
    width: 300px;
    height: 200px;
    margin:50px auto;
    border: 50px solid red;
}


.image-box-one{
    width: 300px;
    height: 200px;
    margin:50px auto;
    border: 50px solid green;
}